<article>
	<div class="heading-container">
		<a href="/post/{{{RowKey}}}/seostuff"><h2>{{{Title}}}</h2></a>
	</div>
	<div class="postinfo-container">
		<p class="postinfo">
			Erlend Røsjø
			<br/>{{{CreatedDate}}}
		</p>
	</div>
	<div class="post-container">
		{{{Content}}}
	</div>
</article>