<article>
	<h2><a href="/post/{{{RowKey}}}/seostuff">{{{Title}}}</a></h2>
	<img class="mainPostImage" src="http://fpoimg.com/900x500"/>
	<div class="post-container">
		{{{Content}}}
		<pre>
			<code>
				/**
				* Example 1
				*/
				console.log(x === undefined); // logs "false"
				var x = 3;


				/**
				* Example 2
				*/
				// will return a value of undefined
				var myvar = "my value";

				(function() {
				console.log(myvar); // undefined
				var myvar = "local value";
			})();
		</code>
	</pre>
</div>
</article>