lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules

# Mac crap
.DS_Store

ghost/core/client/assets/css
ghost/core/built
ghost/core/client/assets/fonts
ghost/config.js
ghost/content/data/ghost-dev.db
