lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules

# Mac crap
.DS_Store

core/client/assets/css
core/built
core/client/assets/fonts
config.js
content/data/ghost-dev.db
content/images/**
