<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>erlend.net blog</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Erlend Røsjøs blog">
	<meta name="author" content="Erlend Røsjø">
	<link rel="stylesheet" href="/stylesheets/highlightjs/github.css">
	<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/screen.css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper">
		<header>
			<h1>erlend.net</h1>
			<nav>
				<ul>
					<li><a href="/">Blog</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/archives">Archives</a></li>
				</ul>
			</nav>
		</header>
		<div class="content">
			{{{body}}}
		</div>
		<footer>
			Copyright Erlend Røsjø 2014
		</footer>
	</div>
</body>
</html>