/* -------------------------------------------------------------------------*/
/* Layout */
/* line 8, ../compass/sass/screen.scss */
header, footer {
  clear: both;
}

/* line 10, ../compass/sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 296px;
  _width: 296px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(13.85135%, rgba(100, 100, 225, 0.25)), color-stop(13.85135%, rgba(0, 0, 0, 0)), color-stop(17.22973%, rgba(0, 0, 0, 0)), color-stop(17.22973%, rgba(100, 100, 225, 0.25)), color-stop(31.08108%, rgba(100, 100, 225, 0.25)), color-stop(31.08108%, rgba(0, 0, 0, 0)), color-stop(34.45946%, rgba(0, 0, 0, 0)), color-stop(34.45946%, rgba(100, 100, 225, 0.25)), color-stop(48.31081%, rgba(100, 100, 225, 0.25)), color-stop(48.31081%, rgba(0, 0, 0, 0)), color-stop(51.68919%, rgba(0, 0, 0, 0)), color-stop(51.68919%, rgba(100, 100, 225, 0.25)), color-stop(65.54054%, rgba(100, 100, 225, 0.25)), color-stop(65.54054%, rgba(0, 0, 0, 0)), color-stop(68.91892%, rgba(0, 0, 0, 0)), color-stop(68.91892%, rgba(100, 100, 225, 0.25)), color-stop(82.77027%, rgba(100, 100, 225, 0.25)), color-stop(82.77027%, rgba(0, 0, 0, 0)), color-stop(86.14865%, rgba(0, 0, 0, 0)), color-stop(86.14865%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.85135%, rgba(0, 0, 0, 0) 13.85135%, rgba(0, 0, 0, 0) 17.22973%, rgba(100, 100, 225, 0.25) 17.22973%, rgba(100, 100, 225, 0.25) 31.08108%, rgba(0, 0, 0, 0) 31.08108%, rgba(0, 0, 0, 0) 34.45946%, rgba(100, 100, 225, 0.25) 34.45946%, rgba(100, 100, 225, 0.25) 48.31081%, rgba(0, 0, 0, 0) 48.31081%, rgba(0, 0, 0, 0) 51.68919%, rgba(100, 100, 225, 0.25) 51.68919%, rgba(100, 100, 225, 0.25) 65.54054%, rgba(0, 0, 0, 0) 65.54054%, rgba(0, 0, 0, 0) 68.91892%, rgba(100, 100, 225, 0.25) 68.91892%, rgba(100, 100, 225, 0.25) 82.77027%, rgba(0, 0, 0, 0) 82.77027%, rgba(0, 0, 0, 0) 86.14865%, rgba(100, 100, 225, 0.25) 86.14865%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.85135%, rgba(0, 0, 0, 0) 13.85135%, rgba(0, 0, 0, 0) 17.22973%, rgba(100, 100, 225, 0.25) 17.22973%, rgba(100, 100, 225, 0.25) 31.08108%, rgba(0, 0, 0, 0) 31.08108%, rgba(0, 0, 0, 0) 34.45946%, rgba(100, 100, 225, 0.25) 34.45946%, rgba(100, 100, 225, 0.25) 48.31081%, rgba(0, 0, 0, 0) 48.31081%, rgba(0, 0, 0, 0) 51.68919%, rgba(100, 100, 225, 0.25) 51.68919%, rgba(100, 100, 225, 0.25) 65.54054%, rgba(0, 0, 0, 0) 65.54054%, rgba(0, 0, 0, 0) 68.91892%, rgba(100, 100, 225, 0.25) 68.91892%, rgba(100, 100, 225, 0.25) 82.77027%, rgba(0, 0, 0, 0) 82.77027%, rgba(0, 0, 0, 0) 86.14865%, rgba(100, 100, 225, 0.25) 86.14865%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.85135%, rgba(0, 0, 0, 0) 13.85135%, rgba(0, 0, 0, 0) 17.22973%, rgba(100, 100, 225, 0.25) 17.22973%, rgba(100, 100, 225, 0.25) 31.08108%, rgba(0, 0, 0, 0) 31.08108%, rgba(0, 0, 0, 0) 34.45946%, rgba(100, 100, 225, 0.25) 34.45946%, rgba(100, 100, 225, 0.25) 48.31081%, rgba(0, 0, 0, 0) 48.31081%, rgba(0, 0, 0, 0) 51.68919%, rgba(100, 100, 225, 0.25) 51.68919%, rgba(100, 100, 225, 0.25) 65.54054%, rgba(0, 0, 0, 0) 65.54054%, rgba(0, 0, 0, 0) 68.91892%, rgba(100, 100, 225, 0.25) 68.91892%, rgba(100, 100, 225, 0.25) 82.77027%, rgba(0, 0, 0, 0) 82.77027%, rgba(0, 0, 0, 0) 86.14865%, rgba(100, 100, 225, 0.25) 86.14865%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.85135%, rgba(0, 0, 0, 0) 13.85135%, rgba(0, 0, 0, 0) 17.22973%, rgba(100, 100, 225, 0.25) 17.22973%, rgba(100, 100, 225, 0.25) 31.08108%, rgba(0, 0, 0, 0) 31.08108%, rgba(0, 0, 0, 0) 34.45946%, rgba(100, 100, 225, 0.25) 34.45946%, rgba(100, 100, 225, 0.25) 48.31081%, rgba(0, 0, 0, 0) 48.31081%, rgba(0, 0, 0, 0) 51.68919%, rgba(100, 100, 225, 0.25) 51.68919%, rgba(100, 100, 225, 0.25) 65.54054%, rgba(0, 0, 0, 0) 65.54054%, rgba(0, 0, 0, 0) 68.91892%, rgba(100, 100, 225, 0.25) 68.91892%, rgba(100, 100, 225, 0.25) 82.77027%, rgba(0, 0, 0, 0) 82.77027%, rgba(0, 0, 0, 0) 86.14865%, rgba(100, 100, 225, 0.25) 86.14865%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.85135%, rgba(0, 0, 0, 0) 13.85135%, rgba(0, 0, 0, 0) 17.22973%, rgba(100, 100, 225, 0.25) 17.22973%, rgba(100, 100, 225, 0.25) 31.08108%, rgba(0, 0, 0, 0) 31.08108%, rgba(0, 0, 0, 0) 34.45946%, rgba(100, 100, 225, 0.25) 34.45946%, rgba(100, 100, 225, 0.25) 48.31081%, rgba(0, 0, 0, 0) 48.31081%, rgba(0, 0, 0, 0) 51.68919%, rgba(100, 100, 225, 0.25) 51.68919%, rgba(100, 100, 225, 0.25) 65.54054%, rgba(0, 0, 0, 0) 65.54054%, rgba(0, 0, 0, 0) 68.91892%, rgba(100, 100, 225, 0.25) 68.91892%, rgba(100, 100, 225, 0.25) 82.77027%, rgba(0, 0, 0, 0) 82.77027%, rgba(0, 0, 0, 0) 86.14865%, rgba(100, 100, 225, 0.25) 86.14865%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, ../compass/sass/screen.scss */
.container div.container-logo {
  width: 13.85135%;
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
}

/* line 22, ../compass/sass/screen.scss */
p {
  font-family: "museo-slab-1","museo-slab-2";
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

/* line 29, ../compass/sass/screen.scss */
p.postinfo {
  font-weight: 300;
  font-size: 10px;
}

/* line 34, ../compass/sass/screen.scss */
h1 {
  font-family: "museo-sans-1","museo-sans-2";
  font-size: 24px;
  font-weight: 700;
}

/* line 40, ../compass/sass/screen.scss */
a {
  color: red;
  text-decoration: none;
}

/* line 45, ../compass/sass/screen.scss */
.logo {
  background: url("../img/elogo.png");
  background-size: 41px;
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  display: block;
}

/* line 54, ../compass/sass/screen.scss */
nav ul {
  font-family: "museo-sans-1","museo-sans-2";
  font-weight: 700;
  font-size: 12px;
}

/* line 60, ../compass/sass/screen.scss */
nav ul li {
  display: inline-block;
  margin-left: "5px";
}
