/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 10, ../../erlend.net.blog/compass/sass/screen.scss */
body {
  margin: 12px 0 0 0;
}

/* line 14, ../../erlend.net.blog/compass/sass/screen.scss */
body {
  font-size: 12px;
  line-height: 24px;
}

/* line 18, ../../erlend.net.blog/compass/sass/screen.scss */
article {
  max-width: 944px;
  margin: auto;
}

/* line 22, ../../erlend.net.blog/compass/sass/screen.scss */
h1 {
  font-size: 61px;
  line-height: 72px;
  margin-top: 24px;
  margin-bottom: 48px;
}

/* line 28, ../../erlend.net.blog/compass/sass/screen.scss */
h2 {
  font-size: 27px;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 24px;
}

/* line 34, ../../erlend.net.blog/compass/sass/screen.scss */
h3 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}

/* line 40, ../../erlend.net.blog/compass/sass/screen.scss */
p, ul {
  margin-top: 0px;
  margin-bottom: 24px;
}

/* line 44, ../../erlend.net.blog/compass/sass/screen.scss */
small, aside {
  font-size: 8px;
}

/* line 48, ../../erlend.net.blog/compass/sass/screen.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 52, ../../erlend.net.blog/compass/sass/screen.scss */
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

/* line 56, ../../erlend.net.blog/compass/sass/screen.scss */
header, footer {
  clear: both;
}

/* line 58, ../../erlend.net.blog/compass/sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 300px;
  _width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 62, ../../erlend.net.blog/compass/sass/screen.scss */
.container div.logo-contianer {
  width: 13.33333%;
  float: left;
  margin-right: 4%;
  display: inline;
}
/* line 66, ../../erlend.net.blog/compass/sass/screen.scss */
.container nav {
  width: 82.66667%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
  text-align: right;
}
/* line 70, ../../erlend.net.blog/compass/sass/screen.scss */
.container nav ul {
  padding: 28px 0 0 0;
  margin: 0;
}
/* line 74, ../../erlend.net.blog/compass/sass/screen.scss */
.container nav li {
  margin-left: 2px;
  text-transform: uppercase;
}
/* line 80, ../../erlend.net.blog/compass/sass/screen.scss */
.container article {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}
/* line 83, ../../erlend.net.blog/compass/sass/screen.scss */
.container article .heading-container {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
/* line 92, ../../erlend.net.blog/compass/sass/screen.scss */
.container article .postinfo-container {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}
/* line 95, ../../erlend.net.blog/compass/sass/screen.scss */
.container article .postinfo-container .postinfo {
  margin-bottom: 20px;
}
/* line 100, ../../erlend.net.blog/compass/sass/screen.scss */
.container article .post-container {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -12px;
  display: inline;
}

/* line 107, ../../erlend.net.blog/compass/sass/screen.scss */
p, blockquote {
  font-weight: 500;
}

/* line 111, ../../erlend.net.blog/compass/sass/screen.scss */
blockquote {
  font-style: italic;
  padding: 10px;
}

/* line 116, ../../erlend.net.blog/compass/sass/screen.scss */
p.postinfo {
  font-weight: 300;
  font-size: 12px;
}

/* line 121, ../../erlend.net.blog/compass/sass/screen.scss */
h1 {
  font-weight: 700;
}

/* line 125, ../../erlend.net.blog/compass/sass/screen.scss */
a {
  color: red;
  text-decoration: none;
  font-weight: 700;
}
/* line 130, ../../erlend.net.blog/compass/sass/screen.scss */
a h1 {
  color: black;
}

/* line 135, ../../erlend.net.blog/compass/sass/screen.scss */
p a:hover {
  text-decoration: underline;
}

/* line 139, ../../erlend.net.blog/compass/sass/screen.scss */
.logo {
  background: url("../img/elogo.png");
  background-size: 41px;
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  display: block;
}

/* line 148, ../../erlend.net.blog/compass/sass/screen.scss */
nav ul {
  font-weight: 700;
  font-size: 12px;
}

/* line 153, ../../erlend.net.blog/compass/sass/screen.scss */
nav ul li {
  display: inline-block;
  margin-left: "5px";
}

/* line 159, ../../erlend.net.blog/compass/sass/screen.scss */
pre {
  background: #F6F5EA;
  border: 1px solid #E0DED6;
  color: black;
  font-family: Consolas,"Lucida Console",monospace;
  font-size: 10px;
  margin: 1em 0;
  overflow: auto;
  padding: 1em;
}
