<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>erlend.net blog</title>
	<meta name="viewport" content="width=device-width"
	<meta name="description" content="Erlend Røsjøs blogg">
	<meta name="author" content="Erlend Røsjø">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheets/screen.css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header></header>
	<section role="main" class="container">
		<nav role="navigation">
			<ul>
				<li><a href="/">Blog</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/archives">Archives</a></li>
			</ul>
		</nav>
		{{{body}}}
	</section>
	<footer></footer>
</body>
</html>