<article>
	<div class="heading-container">
		<a href="#"><h2>{{{title}}}</h2></a>
	</div>
	<div class="post-container">
		<p>I am a web/systems developer working at <a href="http://www.knowit.no">Knowit</a> in Bergen, Norway.</p>
	</div>
</article>