<article>
	<div class="heading-container">
		<a href="#"><h2>{{{title}}}</h2></a>
	</div>
	<div class="post-container">
		<address>
			Twitter: @erosjo<br/>
			Email: <script type="text/javascript"><!--
var deawyrn = ['n','l','<','d','l','l','e','n','a','m','@','e','t','e','d','o','m','i','"','r','a','"','=','l','e','=','r','l','a','e','h','>','"','@','.','e','"','c','e','n','r','s','n','a',':','e','i','l','e','t','n','r','l','.','d',' ','d','a','<','t','/','e',' ','r','>','s','e','f','e','n'];var ygdrqix = [53,51,0,54,12,18,5,27,44,43,55,52,32,56,28,14,9,11,41,4,1,33,40,25,23,7,57,58,10,59,3,69,47,22,29,31,8,35,64,30,24,39,63,68,15,16,45,36,49,65,60,50,46,62,61,2,21,37,66,13,67,19,34,17,48,38,26,6,42,20];var dsdzawm= new Array();for(var i=0;i<ygdrqix.length;i++){dsdzawm[ygdrqix[i]] = deawyrn[i]; }for(var i=0;i<dsdzawm.length;i++){document.write(dsdzawm[i]);}
// --></script>
<noscript>Please enable Javascript to see the email address</noscript>
		</address>
	</div>
</article>